.nav {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  border-radius: 5px;
  border: 2px solid black;
  margin: 1rem 0;
  overflow: hidden;
}

.nav a {
  font-size: 1.2rem;
  padding: 1rem;
}

.active {
  background-color: var(--pri-color);
  color: white !important;
  transition: 0.5s;
}

.container p,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
}

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.uppercased::placeholder {
  text-transform: uppercase;
}

.img {
  width: 100px;
  height: 100%;
}
@media screen and (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .nav {
    flex-flow: column;
  }
}
