.container {
  padding: 3rem;
  margin-bottom: 3rem;
}

.container section {
  text-align: justify;
  max-width: 800px;
  margin: auto;
  padding: 1rem;
}

.icon {
  font-size: 3rem;
  margin: 0 auto;
  width: 100%;
}

.header {
  text-align: center;
}

.values {
  display: flex;
  flex-flow: column;
  height: 100vh;
  justify-content: center;
}

.values ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.values ul li::first-letter {
  font-size: 2rem;
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 500px) {
  .container {
    padding: 1rem;
    display: flex;
    flex-flow: column;
    gap: 3rem;
    max-width: unset;
    height: auto;
  }
  .values ul {
    flex-flow: column;
    margin: 0;
    padding: 0;
  }

  .values header {
    text-align: unset;
  }
}

.container div {
  padding: 1rem;
  margin-bottom: 1rem;
}
