.container {
  padding: 3rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  grid-template-areas:
    "vision mission"
    "values values";
}

.container article {
  text-align: justify;
}

.container header {
  text-decoration: underline;
}

.vision {
  grid-area: vision;
}

.mission {
  grid-area: mission;
}

.values {
  grid-area: values;
  justify-self: center;
}

.values header {
  text-align: center;
}

.values ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.values ul li::first-letter {
  font-size: 2rem;
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 500px) {
  .container {
    padding: 1rem;
    display: flex;
    flex-flow: column;
    gap: 3rem;
    max-width: unset;
    height: auto;
  }
  .values ul {
    flex-flow: column;
    margin: 0;
    padding: 0;
  }

  .values header {
    text-align: unset;
  }
}

.container div {
  padding: 1rem;
  margin-bottom: 1rem;
}

.container p {
  font-weight: 400;
  letter-spacing: 0.01rem;
  line-height: 2rem;
  font-size: 1.2rem;
}
