.form {
  text-transform: capitalize;
  max-width: 800px;
  margin: 1rem auto;
  display: flex;
  flex-flow: column;
  gap: 1rem;
  padding: 1rem;
}

.fieldset {
  border: 5px solid var(--pri-color);
  padding: 1rem;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  display: flex;
  flex-flow: column;
  gap: 0.3rem;
}

.content {
  display: flex;
  gap: 0.5rem;
  align-content: center;
  margin-bottom: 1rem;
}

.label {
  width: auto;
  font-size: 1.2rem;
}

.legend {
  /* text-align: center; */
  font-size: 1.5rem;
  font-weight: 900;
}

.input {
  border: none;
  border-bottom: 2px solid #000;
  font-size: 1.2rem;
  padding: 0.1rem 0.5rem;
  width: 50%;
}

.input::placeholder {
  text-transform: capitalize;
}

.btnContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.reset,
.submit {
  width: 100%;
  border-radius: 5px;
}

.submit {
  background-color: var(--pri-color);
  color: #fff;
  border: none;
  padding: 0.5rem;
}

.resendCode {
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  .submit {
    width: 100%;
  }

  .content {
    display: flex;
    flex-flow: column;
  }
  .input {
    width: auto;
  }
}
