.typoBorder {
  border: 3px solid;
  padding: 2rem;
  border-radius: 10px;
}

.article {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

.header {
  text-align: center;
}
