.article {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-flow: column;
  height: 100vh;
  gap: 1rem;
  padding: 0 1rem;
  margin: auto;
}

.body {
  font-weight: lighter;
  font-size: 1.2rem;
  line-height: 1.7;
  color: rgb(219, 215, 215);
}

/* .article > header {
  text-align: center;
} */

/* .header {
  font-size: 3rem;
  font-weight: bolder;
} */

@media screen and (min-width: 425px) {
  .article {
    max-width: 500px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .article {
    max-width: 600px;
    margin: 0 auto;
  }
}
