.container {
  padding: 3rem;
}

.container > header,
.container section {
  padding: 1rem;
}

.container > header {
  margin-bottom: 2rem;
}

.container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  font-style: normal;
}

.container address {
  display: flex;
  align-items: center;
  flex-flow: column;
  gap: 0.5rem;
}

.container p {
  font-size: 1.2rem;
}

.container a {
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .container address {
    grid-template-columns: repeat(1, 1fr);
  }
  .container {
    padding: 1rem;
  }
}
