.container {
  padding: 3rem 0;
  color: white;
}

.container address {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 3rem;
}

.container address section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  /* align-items: center; */
  gap: 1rem;
  border: 2px solid;
  padding: 1rem;
  border-radius: 10px;
}

.container a {
  font-size: 1.5rem;
}
