.active {
  border-bottom: 2px solid var(--pri-color);
  color: var(--pri-color);
  transition: 0.2s;
}

.link {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.linkItems {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 800px) {
  .link {
    display: block;
  }
}
