.footer {
  padding: 3rem;
  background-color: lightgray;
  width: 100%;
}

.container {
  height: 100%;
  display: flex;
  gap: 3rem;
}

@media screen and (max-width: 500px) {
  .container {
    flex-flow: column;
  }
}

.container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container ul li {
  margin-bottom: 0.5rem;
}

.container ul h3 {
  margin-bottom: 1rem;
}

/* .copyright {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  width: 100%;
  align-items: center;
} */

.copyright p {
  font-size: 1.2rem;
  color: rgb(77, 76, 76);
}

.logoContainer {
  text-align: left;
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}

.logoContainer p {
  margin-top: 1rem;
  /* color: rgb(77, 76, 76); */
  line-height: 1.7rem;
}

.logo {
  width: 60px;
  filter: grayscale(100%);
  border-radius: 5%;
}
