.form {
  display: flex;
  width: 100%;
}

.form input {
  width: 80%;
}

.closeIcon,
.searchIcon {
  cursor: pointer;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchResult {
  display: flex;
  justify-content: center;
  background-color: black;
}

.resultContainer {
  width: 50%;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
}

@media screen and (max-width: 800px) {
  .resultContainer {
    width: 100%;
  }
}

.resultContainer > li > a {
  border-bottom: 2px solid orange;
  height: 300px;
  max-height: 200px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
}

@media screen and (max-width: 500px) {
  
}

.imgContainer {
  width: 50%;
  height: 100%;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textContainer {
  margin: 0 auto;
  width: 50%;
  padding: 0 1rem;
  color: white;
}

.textContent h6 {
  margin: 0;
  padding: 0;
}

.textContent p {
  color: lightgray;
  font-size: small;
  font-weight: lighter;
  margin: 0;
  font-size: 0.6rem;
  margin-bottom: 0.3rem;
}

.price {
  color: orange !important;
}

.dialogue {
  margin: auto;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: lighter;
  text-transform: capitalize;
  color: lightgray;
}

.active {
  color: rgb(13, 172, 13);
  border-bottom: 2px solid rgb(13, 172, 13);
}

.search {
  display: flex;
  flex-flow: column;
}
