.container {
  display: flex;
  gap: 1rem;
}

.productsBox {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 1rem;
}

.payment {
  width: 40%;
}

.productBox {
  display: flex;
  gap: 1rem;
}

.singleProduct {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  align-items: center;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  position: relative;
}

.imageBox {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
}

.imageBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.model {
  color: gray;
  letter-spacing: 0;
}

.name {
  align-self: center;
}

.paystack {
  width: 100%;
  height: 100px;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
}

.method {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: #fff;
  padding: 1rem;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }
  .productsBox,
  .payment {
    width: 90%;
    align-items: center;
  }
  .payment,
  .productsBox {
    padding: 1rem !important;
  }
  .singleProduct {
    justify-content: space-around;
  }
  .total {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .container,
  .productBox,
  .singleProduct {
    flex-direction: column;
  }
  .productsBox,
  .payment {
    width: 100%;
  }
  .payment,
  .productsBox {
    padding: 1rem !important;
  }
  .singleProduct {
    gap: 0.5rem;
    align-items: unset;
  }
  .name {
    align-self: unset;
  }
}
