.container {
  margin: 0 0;
  padding: 1rem;
  background-color: rgb(236, 236, 245);
}

.container * {
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 1rem;
}

.card {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  overflow: hidden;
}

.content {
  border-radius: 5px;
  transition: 0.5s;
}

.content > a {
  display: flex;
  flex-flow: column;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.imgContainer {
  height: 400px;
}

.cardBody {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.text {
  display: flex;
  flex-flow: column;
}

.text p {
  font-size: 0.8rem;
  text-transform: capitalize;
}

.price {
  color: var(--dark-sec-color);
  font-size: 1rem !important;
}

.infoIcon {
  font-size: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@media screen and (max-width: 800px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .container {
    margin: 0 0 3rem;
    border-radius: unset;
  }
}
@media screen and (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
