.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    width: 100%;
}

.btns {
    width: 30%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 3rem;
}